<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<mapper namespace="edu.eci.pdsw.persistence.mybatis.mappers.ConsultaMapper">
    
    <resultMap type='Consulta' id='ConsultaResult'>
        <id property='id' column='idCONSULTAS'/>
        <result property='fechayHora' column='fecha_y_hora'/>
        <result property='resumen' column='resumen'/>
        <result property='costo' column='costo'/>
        <association property="pacientesId" javaType="Paciente"></association>
        <association property="pacientesTipoId" javaType="Paciente"></association>
    </resultMap>
    
</mapper>
